.movieDetailBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.backdropImage {
  width: 1200px;
  height: 500px;
  object-fit: cover;
  mix-blend-mode: exclusion;
  border-radius: 40px;
}

.posterImage {
  border-radius: 15px;
}

.titles {
  color: #8e95a9;
}

.imageTitleBox {
  position: relative;
}

.titleBox {
  position: absolute;
  bottom: -30px;
  left: 70px;
  background-color: rgba(18, 24, 41, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  padding: 2rem;
  width: 800px;
}

.mediaType {
  color: #beb7fb;
}

.contentBox {
  display: flex;
  padding-inline: 2rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
}

.movieOverView {
  color: #8e95a9;
}

.overViewBox {
  display: flex;
  width: 600px;
  flex-direction: column;
  margin-inline: 2rem;
  padding: 2rem;
  gap: 10px;
}

.genresBox {
  display: flex;
  gap: 1rem;
}

.movieRatingBox {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  width: 63px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.movieRatingStar {
  width: 13px;
  height: 13px;
}

.movieRating {
  margin-top: 2px;
  margin-left: 3px;
  font-size: 13px;
  color: #ffad49;
}

@media only screen and (max-width: 1300px) {
  .backdropImage {
    width: 900px;
    height: 300px;
  }

  .titleBox {
    bottom: -40px;
    left: 50px;
    width: 600px;
  }

  .posterImage {
    width: 350px;
    height: auto;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 950px) {
  .backdropImage {
    width: 600px;
    height: 300px;
  }

  .titleBox {
    bottom: -20px;
    left: 30px;
    width: 400px;
    padding: 1.5rem;
  }

  .posterImage {
    width: 250px;
    height: auto;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 750px) {
  .backdropImage {
    width: 430px;
    height: auto;
  }

  .titleBox {
    bottom: -20px;
    left: 5px;
    width: 420px;
    padding: 1.5rem;
  }

  .posterImage {
    width: 250px;
    height: auto;
    border-radius: 15px;
  }
  .overViewBox {
    width: 350px;
  }
}
