.suggestMePage {
  position: relative;
  display: flex;
  margin-top: 60px;
  margin-bottom: 10px;
  padding-inline: 200px;
  flex-direction: column;
  min-height: 40vh;
}

.movieListBox {
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text {
  font-size: 62px;
  font-weight: 600;
  padding: 1rem;
}

@media only screen and (max-width: 1200px) {
  .suggestMePage {
    padding-inline: 60px;
  }

  .movieListBox {
    margin-inline: 100px;
  }
}

@media only screen and (max-width: 750px) {
  .suggestMePage {
    padding-inline: 10px;
  }
  .p {
    width: 400px;
    text-align: justify;
  }

  .text {
    font-size: 46px;
  }
  .movieListBox {
    margin-inline: 0px;
  }
}
