.movieCard {
  cursor: pointer;
  position: relative;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 280px;
  height: 440px;
  border-radius: 12px;
  background-color: #2a2a3c;
}

.movieCard:hover {
  .moviePoster {
    transform: scale(1.1);
  }
}

.moviePosterBox {
  width: 256px;
  height: 370px;
  margin-top: 5px;
  overflow: hidden;
  border-radius: 12px;
}

.moviePoster {
  border-radius: 12px;
  width: 260px;
  height: auto;
  transition: all 0.3s ease;
}

.movieTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 1rem;
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
}

.movieRatingBox {
  position: absolute;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  top: 0;
  left: 0;
  margin: 1rem;
  width: 63px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.movieRatingStar {
  width: 13px;
  height: 13px;
  transition: all 0.3s ease;
}

.movieRating {
  margin-top: 3px;
  margin-left: 3px;
  font-size: 13px;
  color: #ffad49;
}

.movieCard:hover {
  .movieRatingStar {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 1200px) {
  .movieCard {
    width: 240px;
    height: 400px;
  }

  .moviePosterBox {
    width: 216px;
    height: 330px;
  }

  .moviePoster {
    width: 220px;
    height: auto;
  }
}

@media only screen and (max-width: 900px) {
  .movieCard {
    width: 220px;
    height: 340px;
  }

  .moviePosterBox {
    width: 196px;
    height: 260px;
  }

  .moviePoster {
    width: 200px;
    height: auto;
  }
}

@media only screen and (max-width: 750px) {
  .movieCard {
    width: 170px;
    height: 320px;
  }

  .moviePosterBox {
    width: 156px;
    height: 250px;
  }

  .moviePoster {
    width: 160px;
    height: auto;
  }
}
