.movieCard {
  cursor: pointer;
  position: relative;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 280px;
  height: 480px;
  border-radius: 12px;
  background-color: #2a2a3c;
}

.movieCard:hover {
  .moviePoster {
    transform: scale(1.1);
  }
}

.moviePosterBox {
  width: 266px;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 5px;
}

.moviePoster {
  border-radius: 12px;
  width: 266px;
  height: 400px;
  transition: all 0.3s ease;
}

.movieTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 3rem;
  margin-left: 1rem;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
}

.movieRatingBox {
  position: absolute;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  margin: 1rem;
  width: 63px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.movieRatingStar {
  width: 13px;
  height: 13px;
}

.movieRating {
  margin-top: 3px;
  margin-left: 3px;
  font-size: 13px;
  color: #ffad49;
}

@media only screen and (max-width: 1200px) {
  .movieCard {
    width: 250px;
    height: 430px;
  }

  .moviePosterBox {
    width: 236px;
    height: 350px;
    margin-top: 5px;
    overflow: hidden;
  }

  .moviePoster {
    width: 246px;
    height: 370px;
  }

  .movieTitle {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 750px) {
  .movieCard {
    width: 230px;
    height: 400px;
  }

  .moviePosterBox {
    width: 216px;
    height: 330px;
    margin-top: 5px;
    overflow: hidden;
  }

  .moviePoster {
    width: 236px;
    height: 360px;
  }

  .movieTitle {
    margin-bottom: 2rem;
  }
}
