.movieCard {
  cursor: pointer;
  position: relative;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 230px;
  height: 400px;
  border-radius: 12px;
  background-color: #2a2a3c;
}

.movieCard:hover {
  .moviePoster {
    transform: scale(1.1);
  }
}

.moviePosterBox {
  width: 216px;
  height: 330px;
  overflow: hidden;
  border-radius: 12px;
}

.moviePoster {
  border-radius: 12px;
  width: 216px;
  height: 330px;
  transition: all 0.3s ease;
}

.movieTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 1rem;
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
}

.movieRatingBox {
  position: absolute;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  margin: 1rem;
  width: 63px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.movieRatingStar {
  width: 13px;
  height: 13px;
}

.movieRating {
  margin-top: 3px;
  margin-left: 3px;
  font-size: 13px;
  color: #ffad49;
}
