.movieListBox {
  gap: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 1200px) {
  .movieListBox {
    margin-inline: 100px;
  }
}

@media only screen and (max-width: 750px) {
  .movieListBox {
    margin-inline: 0px;
  }
}
