:root {
  --color-primary: #5a4af4;
  --color-secondary: #1ea5fc;
  --color-tertiary: #b66dff;
  --color-succes: #05ce91;
  --color-error: #ff6161;
  --color-warning: #ffad49;
  --color-white: #ffffff;
  --color-grey: #767e94;
  --color-background: #121829;
  --color-background2: #2a2a3c;
  --color-background3: #121a2b;
  --color-background4: #0e1626;
  --color-menuBackground: #10141f;
  --color-menuHover: #191d3f;
  --color-navListActive: #20283e;
  --color-tabActive: #7c6ef6;
  --color-border: #323b54;
  --color-titleColor: #8e95a9;
  --color-mediaType: #beb7fb;
}
